body, #container{
    margin: 0 auto;
    max-width: 1600px;
    background-image: url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
    background-color: rgb(241, 252, 248);
}

header {
    background-color: rgb(170, 6, 6);
    color: white;
    min-height: 200px;
    width: 100%;

}

header h1{
    text-align: center;
    vertical-align: middle;
}

main {
    text-align: center;
    min-height: 400px;
    margin-top: 50px;
}

footer {
    min-height: 100px;
    background-color: aquamarine;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

footer p {
    vertical-align: middle;
}

.pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    grid-gap: 50px;
}

.pokemon-block {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(122, 108, 108);
}

#logo {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}